# Ignore image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp

# Ignore CSV files
*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (if using VS Code)
.vscode/

# macOS system files
.DS_Store

# Python virtual environments
venv/
env/
